<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<td>{{entity.element}}</td>
<td>
    <button class="update" (click)="myModal.open()"><i class="fa fa-pencil"></i> UPDATE</button>
    <ngx-smart-modal identifier="myModal" #myModal (onOpen)="getEntity()" (onCloseFinished)="saveEntity()">
        <app-entity-update [entityElement] = "entity.element"></app-entity-update>
    </ngx-smart-modal>

    <button class="delete" (click)="deleteEntity()"><i class="fa fa-trash"></i> DELETE</button>
</td>