h1 {
    font-family: "Lobster", serif;
    text-align: center;
}

table {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    margin: 0px auto; 
}

th, td {
    padding: 5px;
    border: 1px solid #fff;
}

th {
    background: rgb(160, 141, 197);
    color: rgb(21, 19, 97);
    padding: 5px;
}

td {
    background: rgb(230, 221, 229);
    color: black;
}

.back {
    padding-bottom: 60%;
    height: 0;
    text-align: center;
    margin-left: -212px;
    margin-right: -212px;
    background-image:url('/assets/xml1mod.png');  
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
