<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<div   style= "
 padding-bottom: 60%;
 height: 0;
 margin-left: -450px;
 margin-right: -212px;
 margin-top: -15px;
 background-image:url('/assets/background_image.jpg');  
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;">
    <h1  class="w3-jumbo w3-animate-top  w3-center" style = "color: white; font-family: Raleway, sans-serif; padding-top: 190px;" >This is the Xml Compiler</h1>
    <hr class="w3-border-white" style="margin:auto; width:40%">
    <h2 class="w3-animate-bottom w3-large w3-center" style = "color: white;font-style: italic;">I'll compile any Xml file you need</h2>
</div>